# Node.js
node_modules/
dist/
build/
.env
.env.local

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
*.db
*.sqlite3

# OS metadata
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Electron
release/
dist-electron/
*.log

# PyInstaller
build/
dist/
*.spec
